* {
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(228, 230, 235);
    font-size: 15px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #18191a;

    
}

.navbar {
    display: flex;
    background-color: #242526;
    height: 55px;
    border-bottom: 0.01px solid rgb(78, 78, 78);
    justify-content: space-between;

} 

.nav-sub-box {
    width: 224px;
}

.nav-sub-left {
    display: flex;
    align-items: center;
    padding-left: 18px;
    width: 350px;
}

.navbar span {
    display: inline-block;
    height: 25px;
}

.navbar path {
    fill: #b0b3b8;
    color: #b0b3b8;
}


.nav-sub-center {
    width: 690px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-box-sub-box {
    display: flex;
    align-content: center;
    height: 40px;
    border-radius: 30px;
    margin-left: 8px;
    background-color: #3a3b3c;
    width: 500px;
}

.search-icon-container {
    padding-top: 11px;
    padding-left: 12px;
}

.search-icon-container i {
    color: #b0b3b8;
    font-size: 18px;
}

.search-box {
    margin-top: 9px;
    margin-left: 10px;
}

#search-box {
    background-color: #3a3b3c;
    display: inline-block;
    height: 1.5em;
    border: none;

}

.nav-sub-right {
    display: flex;
    margin-left: 15px;

    
}

.nav-sub-right .circle{
    margin-top: 10px;
    margin-left: 10px;
}

.nav-right-icon {
    margin-left: 8px;
    margin-top: 8px;
}

.below-nav {
    display: flex;
    min-height: 100vh;
    justify-content: center;
}

.left-box {
    width: 360px;
}

.right-box { 
    width: 360px;
}

.center-box {
    width: 1185px;
    display: flex;
    justify-content: center;
}

.left-options {
    padding-top: 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 95%;
    border-bottom: 0.01px solid rgb(78, 78, 78);
    
}

.btn {
    height: 52px;
}


.left-options-btn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    width: 100%;
}

.btn-img {
    height: 36px;
    border-radius: 50%;
    margin-left: 8px;
}

.circle {
    background-color: #303031;
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

#see-more {
    width: 20px;
    height: 20px;
    margin-left: 7.5px;
    margin-top: 8px;
}

.btn-content {
    margin-left: 10px;
}

.btn:hover {
    background-color: #3a3b3c;
    cursor: pointer;
}

.sponsored {
    height: 50px;
    padding-top: 10px;
    border-bottom: 0.01px solid rgb(78, 78, 78);   
}

.contacts {
    height: 50px;
}

/* The Center Content Styles */
.main-content {
    width: 688px;
    display: flex;
    flex-direction: column;
    
}

.stories-container {
    margin-top: 20px;
    display: flex;
    height: 200px;
    padding: 5px 5px;
    justify-content: space-between;
}

.story-box {
    height:190px;
    width: 106.67px;
    background-color: grey;
    border-radius: 10px; 
}

.story-box:hover {
    cursor: pointer;
}

.story-profile {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    border: 4px solid #2e89ff;
    border-radius: 50%;
    margin-left: 10px;
    margin-tp: 10px;
}

.create-story {
    background-color: #242526;
}

.create-story img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    display: block;
    width: 106px;    
    height: 120px;
}

.story1 {
    background-image: url("images/meme1.jpg");
    background-repeat: no-repeat;
    background-size: 106.67px 190px;
}

.story2 {
    background-image: url("images/meme2.jpg");
    background-repeat: no-repeat;
    background-size: 106.67px 190px;
}

.story3 {
    background-image: url("images/meme3.jpg");
    background-repeat: no-repeat;
    background-size: 106.67px 190px;
}

.story4 {
    background-image: url("images/meme4.jpg");
    background-repeat: no-repeat;
    background-size: 106.67px 190px;
}

.story5 {
    background-image: url("images/meme5.jpg");
    background-repeat: no-repeat;
    background-size: 106.67px 190px;
}

.story-profile-img {
    width: 32px;
    border-radius: 50%;
}

.posting-prompt {
    background-color: #242526;
    width: 688px ;
    border-radius: 10px;
}


.center-object {
    background-color: #242526;
    width: 688px;
    border-radius: 10px;
    margin-top: 16px;
}

.posting-prompt {
    margin-top: 10px;
    height: 123px;
}

.posting-prompt-sub-box {
    width: 668px;
    margin: auto;
}


.posting-prompt-sub-upper-half img {
    float: left;
    margin-top: 4px;
    width: 36px;
    height: 36px;
}

.posting-prompt-input-container {
    float: left;
    margin-left: 9px;
    padding-top: 10px;
    padding-left: 12px;
    height: 32px;
    width: 588px;
    border-radius: 30px;
    background-color: #3a3b3c;
}

#posting-input {
    width: 428px;
    background-color: #3a3b3c;
    border: none;
}

.posting-prompt-sub-upper-half {
    margin-top: 10px;
}

.posting-prompt-sub-lower-half {
    margin: auto;
    clear: both;
    position: relative;
    bottom: -12px;
    height: 50px;
    width: 650px;
    border-top: 0.01px solid rgb(78, 78, 78);
}


.prompt-btn img {
    width: 30px;
}

.prompt-btn {
    display: flex;
    margin-top: 8px;
    float: left;
    height: 40px;
    width: 33.3333%;
    text-align: center;
    justify-content: center;
}

.create-room {
    display: flex;
    height: 56px;
    align-items: center;;
}

.create-room-btn {
    display: flex;
    height: 34px;
    width: 153.36px;
    border-radius: 30px;
    border: 1.5px solid rgba(45, 136, 255, 0.2);
    margin-left: 12px;
    align-items: center;
}

.create-room-btn i {
    margin-left: 10px;
}

.create-room-btn span {
    display: inline-block;
    margin-left: 8px;
    font-weight: 600;
    color: rgb(69, 153, 255);
    font-size: 15px;
}

.post-card {
    box-sizing: border-box;
    border: 14px solid #242526;
    
}

.post-profile {
    float: left;
}

.post-profile img {
    margin-left: 0;
}

.post-username {
    display: block;
    padding-left: 45px;
}

.post-time-and-privacy {
    display: block;
    padding-left: 45px;
    height: 18px;
}

.post-optn-btn {
    box-sizing: border-box;
    float: right;
    height: 36px;
    width: 36px;
    text-align: center;
    padding-top: 12px;
    
}

.post-optn-btn {
    color: #b0b3b8;
}

.like-comment-share-box-container {
    border-top: 0.01px solid rgb(78, 78, 78);
    border-bottom: 0.01px solid rgb(78, 78, 78);
    height: 42px;
}

.lcs-text {
    margin-left: 8px;
    padding-top: 10px;
}

.lcs-icon {
    padding-top: 10px;
}

.lcs-icon i {
    font-size: 18px;
}

.like-comment-share-btn {
    margin-top: 0;
}

.cmnt-input-container {
    box-sizing: border-box;
    height: 36px;
    margin-top: 5px;
}

 #cmnt-input {
    display: inline-block;
    margin-bottom: 10px;
    background-color: #3a3b3c;
    border: none;
}
